@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-midnight;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1B263B;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #FFB703, #FFA500);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #FFA500, #FF8C00);
}
